<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Davide Biganzoli",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "jobTitle": "Bioinformatician",
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "Università degli Studi di Milano"
  },
  "sameAs": [
    "https://github.com/biga94",
    "https://www.linkedin.com/in/davidebiganzoli/",
    "https://www.researchgate.net/profile/Davide-Biganzoli",
    "https://orcid.org/0000-0002-6509-6870",
    "https://scholar.google.com/citations?user=pX0_In8AAAAJ&hl=it"
  ]
}
</script>
